.banner {
background-image: url(../../images/BTS.jpeg);
background-size: cover;
background-position: center;
padding: 250px 0px;
}

.banner h1 {
	font-size: 80px;
}
.banner h2 {
	font-size: 50px;
	font-weight: lighter;
	opacity: 0.8;
	margin bottom: 40px;
}

